@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

#calendar-list, #trello-list {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

